---
import type { SiteMeta } from "@/types";

import BaseHead from "@/components/BaseHead.astro";
import SkipLink from "@/components/SkipLink.astro";
import ThemeProvider from "@/components/ThemeProvider.astro";
import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header.astro";
import { siteConfig } from "@/site-config";

const { meta } = Astro.props;  // Astro.propsからmetaを取得

// metaが存在しない場合にデフォルト値を使う
const {
  articleDate,
  description = siteConfig.description,
  ogImage,
  title = siteConfig.title,
} = meta ?? {};  // metaがundefinedの場合、空オブジェクトを使う

---

<html lang={siteConfig.lang}>
  <head>
    <BaseHead 
      articleDate={articleDate} 
      description={description} 
      ogImage={ogImage} 
      title={title} 
    />
  </head>
  <body>
    <ThemeProvider />
    <SkipLink />
    <Header />
    <main id="main">
      <slot />
    </main>
    <Footer />
  </body>
</html>
